<h2 class="text-center">Managing Information Resources</h2>

<div class="">
  <b>Information Resource Management</b>
  <p>
    (IRM) A philosophical and practical approach to managing government information. Information is regarded as a valuable resource which should be managed like other resources, and should contribute directly to accomplishing organizational goals and objectives. IRM provides an integrated view for managing the entire life-cycle of information, from generation, to dissemination, to archiving and/or destruction, for maximizing the overall usefulness of information, and improving service delivery and program management.
  </p>
</div>

<div class="">
  <p>
    Nick Willard of ASLIB's IRM Network (now the IRM SIG) has developed a model highlighting the five key activities for their effective IRM management:
  </p>
  <ul>
    <li><b>Identification:</b> What information is there? How is it identified and coded?</li>
    <li><b>Ownership:</b> Who is responsible for different information entities and co-ordination?</li>
    <li><b>Cost and Value:</b> A basic model for making judgments on purchase and use</li>
    <li><b>Development:</b> Increasing its value or stimulating demand.</li>
    <li><b>Exploitation:</b> Proactive maximization of value for money</li>
  </ul>
</div>

<div class="">
  <b>Benefits of implementing an IRM Strategy</b>
  <ul>
    <li>Identifies gaps and duplication of information</li>
    <li>Clarifies roles and responsibilities of owners and users of information</li>
    <li>Provide costs saving in the procurement and handling of information</li>
    <li>Identifies cost/benefits of different information resources</li>
    <li>Actively supports management decision processes with quality information</li>
  </ul>
</div>

<div class="">
  <b>Some of the issues that it addresses are:</b>
  <ul>
    <li>Strategic</li>
    <li>Organizational</li>
    <li>Structural</li>
    <li>Systems</li>
    <li>Human</li>
  </ul>
</div>

<div class="">
  <b>How to Manage Information as a Strategic Asset</b>
  <ol>
    <li>Understand the role of Information.</li>
    <li>Assign Responsibility for Leading your IRM Initiative.</li>
    <li>Develop Clear Policies on Information Resources</li>
    <li>Conduct an Information Audit (Knowledge Inventory).</li>
    <li>Link to Management Processes.</li>
    <li>Systematic scanning.</li>
    <li>Mix hard/soft, internal/external.</li>
    <li>Optimize your information purchases.</li>
    <li>Introduce mining and refining processes.</li>
    <li>Develop Appropriate Technological Systems</li>
    <li>Exploit technology convergence.</li>
    <li>Encourage a Sharing Culture</li>
  </ol>
</div>

<div class="">
  <b>Benefits Of Information Resource Management</b>
  <ol>
    <li>All information resources are controllable, permitting the ability to design integrated systems and perform an “impact analysis” of a proposed resource change.</li>
    <li>Simplified search of information resource for reuse. Redundancy of resource definition is eliminated.</li>
    <li>Complete and current documentation of all information resources, in an organized and meaningful way.</li>
    <li>Communications within the organization is improved.</li>
  </ol>
</div>

<div class="">
  <b>Resource Management Principles</b>
  <ul>
    <li>Responsibility and authority must be clearly designated to manage the limited resource on behalf of the enterprise.</li>
    <li>The resource is not free; limitations must be recognized, and managed so there is enough when and where needed, but waste and unused excess are costly mistakes.</li>
    <li>The resource must be controlled, and allocated so it is available when and where needed, and should serve the highest priorities first.</li>
    <li>The resource must be constantly tracked: the enterprise must always know how much of the resource it has, where it is located, what condition it is in, how to access it when needed, etc.</li>
    <li>The resource must be properly stored and maintained so that it is ready and usable when needed.</li>
    <li>The resource must be forecast - the enterprise must think and plan ahead to ensure it will have adequate supply of the resource when needed.</li>
  </ul>
</div>
