<h2 class="text-center">Systems Analysis - Systems Design and Implementation</h2>

<h4>Introduction</h4>
<p>
  Systems are created to solve problems. One can think of the systems approach as an organized way of dealing with a problem.
</p>

<h4>Objectives</h4>
<ol>
  <li>Define a System</li>
  <li>Explain the Different Phases of System Development Life Cycle</li>
  <li>Enumerate the Components of System Analysis</li>
  <li>Explain the Components of System Designing</li>
</ol>

<h4>Basic System Components</h4>
<img src="img/basic_system_components.png" alt="" />

<h4>System Life Cycle</h4>
<p>
  System development life cycle means combination of various activities. In other words we can say that various activities put together are referred as system development life cycle.
</p>
<img src="img/system_life_cycle.png" alt="" />

<h4>Phases of SDLC(System Development Life Cycle)</h4>
<ol>
  <li>
    Preliminary System Study
    <ul>
      <li>Problem Identification and Project Initiation</li>
      <li>Background Analysis</li>
      <li>Inference or findings (System Proposal)</li>
    </ul>
  </li>
  <li>
    Feasibility Study
    <p>
      <b>MAIN GOAL:</b>
      <span>To achieve the SCOPE</span>
    </p>
  </li>
  <li>
    Detailed System Study
    <div>
      <b>Tools Used:</b>
    </div>
    <ul>
      <li>Interviews</li>
      <li>On-site observation</li>
      <li>Questionnaire</li>
    </ul>
  </li>
  <li>
    System Analysis
    <div>
      <b>MAJOR OBJECTIVES ARE TO FIND ANSWERS FOR:</b>
      <ul>
        <li>What is being done?</li>
        <li>How it is being done?</li>
        <li>Who is doing it?</li>
        <li>When is he doing it?</li>
        <li>Why is it being done?</li>
        <li>How can it be improved?</li>
      </ul>
    </div>
  </li>
  <li>
    System Design
    <ul>
      <li>
        Preliminary or General Design
        <p>The features of the new system are specified.</p>
      </li>
      <li>
        Structured or Detailed Design
        <p>Computer oriented work begins in earnest.</p>
        <div>
          <b>Tools and Techniques:</b>
          <ul>
            <li>Flowchart</li>
            <li>Data flow diagram (DFD)</li>
            <li>Data dictionary</li>
            <li>Structured English</li>
            <li>Decision table</li>
            <li>Decision tree</li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li>
    Coding
    <ul>
      <li>Fast development</li>
      <li>Maintenance</li>
      <li>Future changes</li>
    </ul>
  </li>
  <li>
    Testing
    <ul>
      <li>Program test</li>
      <li>System Test</li>
    </ul>
  </li>
  <li>
    Implementation
    <div>
      <b>Major steps:</b>
      <ul>
        <li>Acquisition and Installation of hardware and software</li>
        <li>Conversion</li>
        <li>User training</li>
        <li>Documentation</li>
      </ul>
      <b>Changeover</b>
      <ul>
        <li>Direct Changeover</li>
        <li>Parallel Run</li>
        <li>Pilot Run</li>
      </ul>
    <div>
  </li>
  <li>
    Maintenance
    <div>
      <b>The review of the system is done for: </b>
      <ul>
        <li>Knowing the full capabilities of the system</li>
        <li>Knowing the required changes or the additional requirements</li>
        <li>Studying the performance.</li>
      </ul>
    </div>
  </li>
</ol>
