<h2 class="text-center">Artificial Intelligence and Expert Systems</h2>

<div class="">
  <b>WHAT IS INTELLIGENCE?</b>
  <p>
    Intelligence is the capacity to learn and solve problems. In particular, the ability to solve novel problems, the ability to act rationally and the ability to act like humans.
  </p>
</div>

<div class="">
  <b>WHAT IS ARTIFICIAL INTELLIGENCE?</b>
  <p>
    According to John McCarthy, Stanford University, it is the science and engineering of making intelligent machines, especially intelligent computer programs. It is related to the similar task of using computers to understand human intelligence, but AI does not have to confine itself to methods that are biologically observable.
  </p>
</div>

<div class="">
  <b>THE ARTIFICIAL INTELLIGENCE CLAIM</b>
  <p>
    The field was founded on the claim that a central property of humans, human intelligence—the sapience of Homo sapiens—"can be so precisely described that a machine can be made to simulate it.“ (Dartmouth Proposal of 1956)
  </p>
</div>

<div class="">
  <b>SUCCESS STORIES OF AI</b>
  <ul>
    <li>Deep Blue defeated the reigning world chess champion Garry Kasparov in 1997</li>
    <li>AI program proved a mathematical conjecture (Robbins conjecture) unsolved for decades</li>
    <li>During the 1991 Gulf War, US forces deployed an AI logistics planning and scheduling program that involved up to 50,000 vehicles, cargo, and people</li>
    <li>NASA's on-board autonomous planning program controlled the scheduling of operations for a spacecraft</li>
    <li>Proverb solves crossword puzzles better than most humans</li>
    <li>Robot driving: DARPA grand challenge 2003-2007</li>
    <li>2006: face Recognition software available in consumer cameras</li>
  </ul>
</div>

<div class="">
  <b>PHILOSOPHICAL AND ETHICAL ISSUES ABOUT AI</b>
  <ul>
    <li>Is artificial general intelligence possible? Can a machine solve any problem that a human being can solve using intelligence? Or are there hard limits to what a machine can accomplish?</li>
    <li>Are intelligent machines dangerous? How can we ensure that machines behave ethically and that they are used ethically?</li>
    <li>Can a machine have a mind, consciousness and mental states in exactly the same sense that human beings do? Can a machine be sentient, and thus deserve certain rights? Can a machine intentionally cause harm?</li>
  </ul>
</div>

<div class="">
  <b>ANSWERS TO THE ISSUES</b>
  <ul>
    <li>Turing's "polite convention“- We need not decide if a machine can "think"; we need only decide if a machine can act as intelligently as a human being</li>
    <li>Dartmouth proposal- "Every aspect of learning or any other feature of intelligence can be so precisely described that a machine can be made to simulate it."</li>
    <li>The artificial brain argument- The brain can be simulated by machines and because brains are intelligent, simulated brains must also be intelligent; thus machines can be intelligent</li>
    <li>The AI effect- Machines are already intelligent, but observers have failed to recognize it</li>
  </ul>
</div>

<div class="">
  <b>OPPOSITION TO AI</b>
  <ul>
    <li>Physicist Stephen Hawking, Microsoft founder Bill Gates and SpaceX founder Elon Musk have expressed concerns about the possibility that AI could evolve to the point that humans could not control it, with Hawking theorizing that this could "spell the end of the human race”</li>
    <li>Joseph Weizenbaum wrote that AI applications can not, by definition, successfully simulate genuine human empathy and that the use of AI technology in fields such as customer service or psychotherapy, to Weizenbaum these points suggest that AI research devalues human life</li>
  </ul>
</div>
