<h2 class="text-center">Education</h2>

<div class="">
  <h3>Application of computer in education</h3>
  <ul>
    <li>E-Learning</li>
    <li>Computer Based Instruction or Computer Assisted Instruction (CAI)
      <div class="">
        <span>Categories:</span>
        <ol>
          <li>Drills and Practice</li>
          <li>Tutorials</li>
          <li>Simulation</li>
          <li>Instructional Game</li>
        </ol>
      </div>
    </li>
    <li>Computer Based Training (CBT) or Online Training</li>
    <li>Distance Learning</li>
    <li>Blended Instruction or Hybrid Learning
      <div class="">
        <span>Variations:</span>
        <ol>
          <li>Blended learning may be provided in an existing school by only a few teachers or it may be the dominant learning-delivery model around which a school’s academic program is designed.</li>
          <li>Online learning may be a minor component part of a classroom-based course, or video- recorded lectures, live video and text chats, and other digitally enabled learning activities may be a student’s primary instructional interaction with a teacher.</li>
          <li>Students may work independently on online lessons, projects, and assignments at home or elsewhere, only periodically meeting with teachers to review their learning progress, discuss their work, ask questions, or receive assistance with difficult concepts.</li>
          <li>Students may spend their entire day in a traditional school building, but they will spend more time working online and independently than they do receiving instruction from a teacher.</li>
          <li>Flipped Classroom is an instructional model in which the typical lecture and homework elements of a course are reversed. Students at home view short video lectures before the class session, while in-class time is devoted to exercises, projects, or discussions.</li>
        </ol>
      </div>
    </li>
    <li>Online Assessment</li>
  </ul>
</div>
