<h2 class="text-center">Science and Research</h2>

<div class="">
  <h3>Application of computer in science and research</h3>
  <ul>
    <li>Complex Data Analysis</li>
    <li>Solving Mathematical Equations</li>
    <li>Prediction Modeling</li>
    <li>Medical record linkage in longitudinal studies</li>
    <li>Performing Meta-analysis and systematic reviews</li>
    <li>Computers in Phases of Research Process
      <div class="">
        <span>Phases:</span>
        <ol>
          <li>Conceptual Phase</li>
          <li>Design and Planning Phase</li>
          <li>Empirical Phase</li>
          <li>Data Analysis</li>
          <li>Research Dissemination</li>
        </ol>
      </div>
    </li>
  </ul>
</div>
