<h2 class="text-center">Entertainment</h2>

<div class="">
  <h3>Application of computer in entertainment</h3>
  <p>
    <b>Entertainment</b> is something that holds the attention and interest of an audience, or gives pleasure and delight. Films, video games etc. have come about as the result of technological developments.
  </p>

  <b>Forms of Entertainment computer is applied</b>
  <ol>
    <li>Games</li>
    <li>Movies/Animation</li>
    <li>Music</li>
    <li>Sports
      <ul>
        <li>Recording Information</li>
        <li>Analyzing Movement</li>
        <li>Scoreboard</li>
      </ul>
    </li>
    <li>Social Network</li>
  </ol>
</div>
