<h2 class="text-center">Production/Manufacturing</h2>

<div class="">
  <h3>Application of computer in production/manufacturing</h3>
  <p>
    <b>Production and Manufacturing</b>, both are process to converting inputs into outputs by applying some operation or process. Both terms are used interchangeably, yet both are different. Difference is the raw material procurement. When raw materials are not procured from outside, the company owns it, after processing operations produce goods/service, then the process is called Production . While manufacturing also includes Design sales marketing, and is a narrow term. Whereas production is a broader term.
  </p>

  <ul>
    <li>Computer-integrated manufacturing (CIM)
      <div class="">
        <p>
          It is the manufacturing approach of using computers to control the entire production process. This integration allows individual processes to exchange information with each other and initiate action. It is the manufacturing approach of using computers to control the entire production process.
        </p>
      </div>
    </li>
  </ul>

</div>
