<h2 class="text-center">Business</h2>

<div class="">
  <h3>Computer In Business</h3>
  <p>
    The business process is under the IT revolution, which is transforming the way we do the business. The way our basic business operations like decision making, customer services, operations, marketing strategies, financial management, Human Resources management, etc. are done are being reformed with the use of computers. Most of our current day business operations are dependent on computers either partially or entirely.
  </p>
  <p>
    The basic reasons for the use of IT in business are as follows:
  </p>
  <ol>
    <li>Efficient Business Operations</li>
    <li>Better Managerial Decision Making</li>
    <li>Gaining Competitive Advantage</li>
    <li>Business Process Re-Engineering</li>
    <li>Solving Business Problems</li>
    <li>Globalization of Business</li>
    <li>Spontaneous Activity</li>
    <li>Office Automation</li>
    <li>Communication and Collaboration</li>
    <li>Electronic Commerce</li>
    <li>Interactive Marketing Etc.</li>
  </ol>

  <b>Office Automation</b>
  <b>Five primarily technologies used in managing information in office automation:</b>
  <ol>
    <li>Text or Written words</li>
    <li>Data , as in numbers or other non-text forms</li>
    <li>Graphics, including drawings , charts and photographs.</li>
    <li>Audio, as in telephone, voice mail or voice recognition systems</li>
    <li>Video, such as captures images, videotapes or teleconferencing</li>
  </ol>

  <b>Transaction processing</b>
  <p>
    Most business activity involves Transactions activities with suppliers, employees , or customers. Computer can make these transactions possible
  </p>

  <b>Home Based Workers</b>
  <p>
    Now that it's so easy to connect a computer at home, more and more people are working at home . These telecommuters often work one or more days without the traditional commute. The same ability to communication so easily makes home-based businesses easier to start and operate. it also provides the alternative way to talk the distant relatives at the cheapest rate with the help of Internet telephony .
  </p>

  <b>Desktop Publishing</b>
  <p>
    Producing finished business literature is one of the uses of computers in business. Using desktop publishing programs, or even sophisticated word processing programs, people can create sales letter, brochures, price lists, newsletters, and even book-length manuals.
  </p>

  <b>Financial Analysis</b>
  <p>
    Financial Analysis is performed throughout the company, from top management on down. People can analyze investments, sales, expenses, markets and other aspects of the business using both numbers and graphs.
  </p>

</div>
