<h2 class="text-center">Arts</h2>

<div class="">
  <h3>Application of computer in arts</h3>

  <ul>
    <li><b>Ease of use</b> - With a click of the mouse, a painting or drawing screen appears with new icons depicting a variety of art media choices: charcoal, ink, oil, spray paint, pastel, and watercolor.</li>
    <li><b>Versatility</b> - A color laser print of a computer-generated "oil painting" can look indistinguishable from a book or magazine reproduction of an actual oil painting. Studying the graphics software manual allows mastery of the technical procedures that allow even more control of the software.</li>
    <li><b>Relevance</b> - Many artists from the past were criticized in their own times for embracing new media and styles. To refuse to use computers in art education is to increase the probability that one's students will be left behind, caught on the wrong side of history. Art educators need to help their students become competent in this most powerful visual art medium.</li>
    <li><b>Interest</b> - Perhaps because of their early familiarity with the video screen, children of all ages are interested in computers; many seemed compelled to use them. Art educators who teach computer art may therefore attract many students who otherwise might never discover art's riches.</li>
    <li><b>Creative tool</b> - The computer is a great place to try out artistic ideas. An original sketch can be saved, and then limitless additional copies of that sketch can be altered and saved. One can then easily view each of these variations in succession, or display reduced copies simultaneously on the same screen. To accomplish this same sort of artistic deliberation in traditional media might take weeks.</li>
    <li><b>Commercial Employment</b> - Virtually all commercial art--illustration, product design, architectural design, industrial design, advertising, publishing and animation--is now done on a computer. Ten years ago, most of the creative people in these disciplines worked at drafting tables; now the drafting tables have been replaced by computers. The artist at the computer can simply do good work faster than on paper.</li>
  </ul>
</div>
